header{
	height: auto;
	background-color:#b3b3ff;
	padding: 5px;
	margin-bottom: 2%;
}
.buttons{
	float: right;
	padding: 10px;
	/* position: absolute;
	top: 4%;
	right: 1%; */
}

.images{
	width: 100%;
}
/* LOGIN SIDE-------------------------------------------------- */
.login_register_div{
	margin-top:10%;
}
/* ADMIN SIDE-------------------------------------------------- */
#date{
	width: 200px;
}
